[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
django = "*"
docker = "*"
psycopg2-binary = "*"
paramiko = "*"
uvicorn = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-q = "==1.3.6"
croniter = "*"

[requires]
python_version = "3.9"
